<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <title>大学生兼职平台-个人中心</title>
        <!-- ico -->
        <link rel="shortcut icon" href="./../favicon.ico"  type="image/x-icon"/> 
        <!-- Bootstrap -->
        <link href="./../css/bootstrap.min.css" rel="stylesheet">
        <!-- 让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
        <script type="text/javascript" src="./../js/respond.min.js"></script>
        <script type="text/javascript" src="./../js/html5.min.js"></script>
        <!-- 引入全局配置 -->
        <link rel="stylesheet" type="text/css" href="./../css/oneself/start.css">
        <!-- 导航条 -->
        <link rel="stylesheet" href="./../css/oneself/navigationbar.css">
        <link rel="stylesheet" href="./../css/oneself/personal.css">
        <!-- 弹出框 -->
        <link rel="stylesheet" href="./../js/dialog/css/zdialog.css">
        <!-- 媒体查询css -->
        <link rel="stylesheet" href="./../css/oneself/media.css">
        <!-- 上传头像 -->
        <link rel="stylesheet" href="./../js/ImgCropping/css/cropper.min.css">
        <link rel="stylesheet" href="./../js/ImgCropping/css/ImgCropping.css">
    </head>
    <body>
        <!-- 头部 -->
        <div class="t_bj">
                <div class="container heard_div">
                    <span>为大学生提供优质兼职服务平台！</span>
                    <span style="float:right;position: relative;" class="v-father">
                        <span class="man" style="color:#ff6700"><i class="glyphicon glyphicon-user"></i></span>
                        <a style="color:#ccc" class="y-deng"></a>
                        <a href="./login.html" style="color:#ccc" class="v-deng">登陆</a>
                        <a href="./register.html" class="v-deng" style="display: inline-block;height:40px;width: 80px;text-align: center;color: #fff;background-color: #ff6700;margin-left: 20px;">立即注册</a>
                        <div class="v-down">
                            <p><a class="person" href="./personal.html">个人中心</a></p>
                            <p><a class="as" href="./notification.html">消息通知</a></p>
                            <p><a class="as" href="./enshrine.html">我的收藏</a></p>
                            <p class="signOut">退出登录</p>
                        </div>
                    </span>
                </div>
            </div>
            <!-- 导航条 -->
            <nav class="navbar navbar-default head">
                <div class="container" style="height:100%">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header heights">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-top:15px">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="./../index.html" style="margin-top:-15px;">
                            <img alt="Brand" src="./../img/logo1.png">
                        </a>
                    </div>
                  
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav" style="margin-right:0;">
                            <li id="navigation_1"><a href="./../index.html">首页<span class="sr-only">(current)</span></a></li>
                            <li id="navigation_2"><a href="./ptjob.html">兼职</a></li>
                            <!-- <li><a href="#">全职</a></li> -->
                            <li id="navigation_3"><a href="./release.html">我要发布</a></li>
                            <li id="navigation_4"><a href="./news.html">最新资讯</a></li>
                            <!-- <li><a href="./message.html">留言板</a></li> -->
                            <li id="navigation_5"><a href="./abouts.html">关于我们</a></li>
                        </ul>
                        <div style="margin-top:20px;float: right;padding-top:0" class=" hidden-sm hidden-xs head_shou">
                            <input type="text" placeholder="请输入..." id="head_input">
                            <span>
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

        <div class="container per_xin">
            <span>个人中心</span>
            <span></span>
        </div>
        <div class="container per_content">
            <div class="per_first">
                <div class="touxiang"><img alt="头像" width="100%" height="100%" id="headimg"></div>
                <div class="per_ziliao">
                    <p class="username"></p>
                    <div class="per_juti">
                        <span class="sex"></span>
                        <span class="age"></span>
                        <span class="type"></span>
                        <span><a style="color: #ff6700;" class="bian">编辑</a></span>
                    </div>
                    <div class="per_phone">
                        <span style="margin-right:10px;">
                            <span class="glyphicon glyphicon-phone"></span>
                            <span class="phone"></span>
                        </span>
                        <span class="per_eamil">
                            <span class="glyphicon glyphicon-envelope"></span>
                            <span class="email"></span>
                        </span>
                    </div>
                </div>
                <div class="hidden-sm hidden-xs per_statistics">
                   <p class="gong">共计完成：<span class="zong"></span>单</p>
                   <p>好平率：<span class="praise"></span></p>
                </div>

            </div>
            <!-- 认证 -->
            <div class="per_second ident">
                <p>认证信息</p>
                <div style="text-align:center">
                    暂未认证，<a style="cursor: pointer;" href="./authentication.html">去认证</a>        
                </div>
            </div>
            <div class="per_second student">
                <p>教育经历</p>
                <div>
                    <span class="col-lg-3 col-md-3 col-sm-3 col-xs-4 school"></span>
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-4 major"></span>
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-4 regular"></span>
                    <span class="col-lg-3 col-md-3 col-sm-3 col-xs-8 time"></span>
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-4">已认证</span>                 
                </div>

            </div>
            <div class="per_second merchant">
                <p>商家认证</p>
                <div>
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-6 merchantName"></span>
                    <span class="col-lg-5 col-md-5 col-sm-5 col-xs-6 address"></span>
                    <span class="col-lg-3 col-md-3 col-sm-3 col-xs-6 createTime"></span>
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-6">已认证</span>                 
                </div>
            </div>
            <!-- 个人评价 -->
            <div class="per_third">
                <p class="per_third_title"></p>
                <span class="xiugai">修改</span>
                <p class="per_third_content" style="font-size:15px;line-height:30px"></p>
                <p class="per_third_address" style="line-height:30px;font-size:15px"></p>
                <p class="bianji">+添加信息</p>
                
            </div>
            <!-- 工作经验 -->
            <div class="per_fourth student">
                <p style="display:inline-block">工作经验</p>
                <span style="float:right;cursor: pointer;" class="works">添加</span>
                <p class="works_zan">暂无经验</p>
                <div class="per_fourth_experience">
                </div>
            </div>
            <!-- 完成任务 -->
            <div class="per_fifth yifa">
                <p>已发布列表</p>
                <div class="tasklist">
                </div>
                <p class="fabu">暂无发布</p>
            </div>
            <div class="per_fifth apply">
                <p>申请任务</p>
                <div class="applyList">
                </div>
            </div>

        </div>

        <!--图片裁剪框 start-->
        <div style="display: none" class="tailoring-container">
            <div class="black-cloth"></div>
            <div class="tailoring-content">
                    <div class="tailoring-content-one">
                        <label title="上传图片" for="chooseImg" class="l-btn choose-btn">
                            <input type="file" accept="image/jpg,image/jpeg,image/png" name="file" id="chooseImg" class="hidden">
                            选择图片
                        </label>
                        <div class="close-tailoring">×</div>
                    </div>
                    <div class="tailoring-content-two">
                        <div class="tailoring-box-parcel">
                            <img id="tailoringImg">
                        </div>
                        <div class="preview-box-parcel">
                            <p>图片预览：</p>
                            <div class="square previewImg"></div>
                            <div class="circular previewImg"></div>
                        </div>
                    </div>
                    <div class="tailoring-content-three">
                        <button class="l-btn cropper-reset-btn">复位</button>
                        <button class="l-btn cropper-rotate-btn">旋转</button>
                        <button class="l-btn cropper-scaleX-btn">换向</button>
                        <button class="l-btn sureCut" id="sureCut">确定</button>
                    </div>
                </div>
        </div>
        <!--图片裁剪框 end-->

        <!-- 修改商家简介 -->
        <div class="xiuShang shangxiu">
            <div class="xiuShang_content">
                <div class="xiuShang_content_head shang">
                    <span>商家简介</span>
                    <span>X</span>
                </div>
                <div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">详细地址：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="请输入详细地址" value="" id="Business_address" name="Business_address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">商家简介：</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" placeholder="请输入商家简介" value="" id="Business_brief" name="Business_brief" rows="8"></textarea>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary shangBtn" style="float: right;">保存</button>
                </div>
            </div>
        </div>

        <!-- 打分 -->
        <div class="xiuShang fenxiu">
            <div class="xiuShang_content">
                <div class="xiuShang_content_head fen">
                    <span>商家打分</span>
                    <span>X</span>
                </div>
                <div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">打分：</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" placeholder="0~100分" value="" id="branch" name="branch">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">评价：</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" placeholder="请输入评价" value="" id="content" name="content" rows="8"></textarea>
                        </div>
                    </div>
                    
                    <button type="button" class="btn btn-primary baocun" style="float: right;">立刻打分</button>
                    <button type="button" class="btn btn-primary looks" style="float: right;margin-right: 20px;">查看任务</button>
                </div>
            </div>
        </div>
    
        <!-- 底部-->
        <div class="dibu">
            <div class="container pad">
                <div class="dibu_div">
                    <div class="dibu_left">
                        <a href="./abouts.html" class="col-md-2 col-sm-3 col-xs-4">关于我们</a>
                        <a href="./abouts.html" class="col-md-2 col-sm-3 col-xs-4">加入我们</a>
                        <a href="./abouts.html" class="col-md-2 col-sm-3 col-xs-4"><span>发布</span>须知</a>
                        <a href="./abouts.html" class="col-md-2 col-sm-3 col-xs-4">帮助中心</a>
                        <span class="col-xs-12">Copyright©2018 jianzhi.com 大学生兼职平台 版权所有 粤ICP备13061591号</span>
                    </div>
                    <div class="dibu_right">
                        <img src="./../img/erweima.png" alt="">
                        <span class="hidden-xs">扫一扫<span class="hidden-sm hidden-md">关注微信号</span></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
        <script src="./../js/jquery-1.12.2.js"></script>
        <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
        <script src="./../js/bootstrap.min.js"></script>
        <!-- 弹出框 -->
        <script src="./../js/dialog/js/zdialog.js"></script>
        <!-- cookie -->
        <script src="./../js/cookie.js"></script>
        <!-- 模板引擎 -->
        <script src="./../js/template-native.js"></script>
        <!-- 公共js文件 -->
        <script src="./../js/oneself/public.js"></script>
        <!-- 导航条js -->
        <script src="./../js/oneself/navigationbar.js"></script>
        <script src="./../js/oneself/personal.js"></script>
        <!-- 图片上传 -->
        <script src="./../js/ImgCropping/js/cropper.min.js"></script>
        <!-- 工作经验列表 -->
        <script type="text/template" id="experiencelist">
            <% for(var i=0;i< items.length; i++){ %> 
                <div>
                    <div>
                        <p class="col-lg-10 col-md-8 col-sm-8 per_company"><%=items[i].name%></p>
                        <span class="col-lg-2 col-md-4  col-sm-4 per_times"><%=items[i].begin_time%> - <%=items[i].end_time%></span>
                    </div>
                    <p class="col-xs-12 per_job_content"><%=items[i].content%></p>
                </div>
            <% } %>
        </script>
        <!-- 发布任务列表 -->
        <script type="text/template" id="tasklist">
            <% for(var i=0;i< items.length; i++){ %> 
                <a class="col-xs-12 per_task" href="./choice.html?id=<%=items[i].id%>">
                    <p><%=items[i].name%></p>
                    <p>日期：<%=items[i].begin_time%></p>
                    <span class="<%= items[i].status == 0?'per_nostart':'per_done'%>"><%= items[i].status == 0?'进行中':'已结束'%></span>
                </a>
            <% } %>
        </script>
        <!-- 申请任务列表 -->
        <script type="text/template" id="applylist">
           <% for(var i=0;i< item.length; i++){ %> 
               <a class="col-xs-12 per_task" href="./pijob.html?id=<%=item[i].id%>"  id="<%=item[i].id%>" releaseid="<%=item[i].release_id%>" result="<%=item[i].result%>">
                   <p><%=item[i].name%> </p>
                   <p>日期：<%=item[i].begin_time%></p>
                   <span class="<%= item[i].result == -1?'per_nostart':item[i].result == 1?'per_green':'per_done'%>"><%= item[i].result == -1?'审核中':item[i].result == 1?'申请成功/点击评价':'申请失败'%></span>
               </a>
           <% } %>
        </script>
        <script>
            //弹出框水平垂直居中
            (window.onresize = function () {
                var win_height = $(window).height();
                var win_width = $(window).width();
                if (win_width <= 768){
                    $(".tailoring-content").css({
                        "top": (win_height - $(".tailoring-content").outerHeight())/2,
                        "left": 0
                    });
                }else{
                    $(".tailoring-content").css({
                        "top": (win_height - $(".tailoring-content").outerHeight())/2,
                        "left": (win_width - $(".tailoring-content").outerWidth())/2
                    });
                }
            })();   
        </script>
    </body>
</html>